@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Boogaloo&family=Pacifico&display=swap');

.header {
    background-color: black;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 20px 0px;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
}
a,a:visited,a:hover{
    text-decoration: none;
    user-select: none;
    color: #C9AB82;
}
.profile:hover{
    cursor:pointer;
}
.titolo {
    font-family: Pacifico,"Serif" ;
    width: 30%;
    color : #C9AB82;
    font-size : 250%;
}

.element{
    font-family: Boogaloo,"Serif";
    color : #C9AB82;
    font-size : 150%;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: #C9AB82;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    background-color:black;
}

.element:hover .dropdown-content {
    display: block;
}

/* Media queries */

@media (max-width:480px){

        .titolo{
            font-size: 15px;
        }
        .element{
            font-size: 15px;
        }
        .dropdown-content{
            font-size:10px;
            min-width: 50px;
        }
}
@media screen and (min-width:810px){

    .titolo{

        font-size: 40px;
    }
    .dropdown-content{
        min-width: 90px;

    }
}

@media screen and (min-width: 481px){

    .titolo{

        font-size: 25px;


    }
    .element{
        font-size: 20px;

    }

    .dropdown-content{
        font-size: 20px;
        min-width: 90px;
    }
}